<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <compilation debug="true" targetFramework="4.0" />
      <!--
      For IIS 7 onwards, caps requests at a certain limit making package loading not work for certain sizes.
      This setting ensures that packages up to 30MB in size will load through this handler
      
      See: http://themapguyde.blogspot.com.au/2010/06/maestro-package-loading-problems-in.html
      -->
      <httpRuntime maxRequestLength="32000000" />
    </system.web>
</configuration>
